{% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
{% endif %}
<br>
<br>
<h2> Welcome {{current_user.username}} you are currently searching restaurants in San Francisco </h2>
<h3> Use the menu below to explore the website </h3>
{% block navigation %}
<ul>
    <li><a href="{{ url_for('index')}}"> Go to homepage.</a></li>
    <li><a href="{{ url_for('rating')}}"> Submit a rating.</a></li>
    <li><a href="{{ url_for('save')}}"> Check-in to a Restaurant.</a></li>
    <li><a href="{{ url_for('ratings')}}"> See all ratings.</a></li>
    <li><a href="{{ url_for('all_places')}}">Your Checked-in Places.</a></li>
    <li><a href="{{ url_for('search')}}">Search.</a></li>
    <li><a href="{{ url_for('logout')}}">Logout.</a></li>
    <li><a href="{{ url_for('login')}}">Login.</a></li>
    <li><a href="{{ url_for('register')}}"> Register</a></li>
</ul>
<p>--------</p><br>
{% endblock %}

{% block main_content %}


<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>

{% endblock %}
